@use '../01-abstracts/z-index' as *;
@use '../02-config/config' as *;

.dialog-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-ui-elements;
  background-color: rgba(white, 0.9);

  .layer-content {
    position: absolute;
    width: 100%;
    max-width: 400px;
    padding: $space-m $space-l;
    overflow: auto;
    border: 1px solid $color--border;
    background-color: white;

    .cta-wrapper {
      margin-top: $space-l;
      grid-template-columns: 1fr 1fr;
    }
  }

  .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  .delete-btn {
    cursor: pointer;
  }
}