@use '../02-config/config' as *;
@use '../00-base/lists' as *;

.main-navigation {
  position: relative;
  width: 100%;
  max-width: $page-max-width;
  display: inline-flex;
  justify-content: flex-end;
  padding: $space-xxs $space-s;
  border-radius: 6px;
  border: 1px solid $color--border;
  background-color: $color--grey-light;

  .login-info {
    margin-left: $space-l;
    display: flex;
    white-space: nowrap;
  }

  ul {
    @extend .flat;
    width: 100%;
    display: flex;

    li + li {
      margin-left: 20px;
    }

    .last {
      margin-left: auto;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #000;

      svg {
        margin-right: 12px;
      }

      &.active {
        color: blue;
        font-weight: 600;
      }
    }
  }

  .lang-toggle {
    margin-left: $space-m;
    display: flex;
    gap: $space-s;

    button {
      border: 0;
      padding: 0;
      width: 20px;
    }
  }

  @include margin-l-self;
}