@use '../02-config/colors' as *;

.message {
  position: static;
  background-color: white;
  z-index: 100;
  display: none;

  &.open {
    display: block;
    border: 1px solid $color--border;
  }

  div {
    padding: 50px;
    z-index: 100;
    border-radius: 6px;
    background-color: white;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0, 0.3);
  }
}