@use '../01-abstracts/mixins' as *;
@use '../02-config/colors' as *;

.preview-grid {
  .row {
    @include bp(medium) {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr 2fr;
    }

    input {
      border: 0;
      background-color: transparent;

      &:not(:first-of-type) {
        border-left: 1px solid $color--black;
      }
    }

    span {
      display: inline-flex;
      position: relative;

      + span {
        &::before {
          content: "|";
          position: absolute;
          left: -20px;
        }
      }
    }
  }
}