// naming colors by http://chir.ag/projects/name-that-color/

$color--white: #fff;
$color--black: #000000;
$color--red: #ff0000;

$color--slate-gray: #5f7b87;
$color--avocado: #909668;
$color--silver: #cbcbcb;
$color--ebb: #e9e4e4;
$color--gray: #8b8b8b;
$color--golden-grass: #ddb31f;
$color--eagle: #bcbfa7;
$color--alto: #d8d8d8;
$color--mine-shaft: #282828;
$color--jungle-green: #26a6a1;


$color--mid-grey: #626265;
$color--ship-gray: #434345;
$color--athens-gray: #F2F2F6;
$color--athens-gray2: #F0F0F5;


// Opacity colors
$color-dim-10: rgba(67,67,69,0.1);
$color-dim-20: rgba(0,0,0,0.2);
$color-dim-50: rgba(0,0,0,0.5);
$color-dim-70: rgba(0,0,0,0.7);
$color-dim-90: rgba(0,0,0,0.9);

$color-dim-30-inverted: rgba(255,255,255,0.3);
$color-dim-50-inverted: rgba(255,255,255,0.5);
$color-dim-70-inverted: rgba(255,255,255,0.7);
$color-dim-90-inverted: rgba(255,255,255,0.9);



// TIER 2 Thematisch bezogen

// main colors
$color--primary: #0098a5;
$color--primary-light: #469373;
$color--secondary: #c98c42;
$color--error: $color--red;
$color--error-form: $color--red;

$color--bg: #f9fbfa;

//navigation
$color-navigation-bg-hover: $color--jungle-green;


// Neutrals
$color--grey-light: $color--athens-gray;
$color--grey-light-02: $color--athens-gray2;
$color--grey-light-03: $color--mid-grey;
$color--grey-dark: $color--ship-gray;


// Border colors
$color--border: $color--silver;
$color--border-inverted: $color--grey-dark;

// Backgrounds
$color--body-bg: $color--grey-light;
$color--bg-light: $color--ebb;
$color--bg-dark: $color--alto;

// Opacity colors:
$color--opacity-low: $color-dim-50;
$color--opacity-medium: $color-dim-50;
$color--opacity-high: $color-dim-70;

// Text colors
$color--text: $color--black;
$color--text-meta: $color--gray;
$color--text-contrast: $color--white;


// Form colors
$color--form-elements: $color--grey-light;
$color--form-elements-active: $color--black;
$color--form-button: $color--white;
$color--form-label: $color--black;
$color--form--bg: #eee;

// Header
$color--header-bg: $color--grey-light;
$color--header-input-bg: $color--grey-dark;

// Footer
$bg-colors: (
  primary: $color--primary,
  secondary: $color--secondary
);


// Tier 3 Komponenten spezifisch


/*********
 Global
*********/

// Focus
$color--input-focus: $color--grey-light;


// Links
$color--link: $color--primary;
$color--link-hover: $color--primary;