@use '../01-abstracts/mixins' as *;
// TIER 1

$space-xxs: 8px;
$space-xs: 12px;
$space-s: 16px;
$space-m: 20px;
$space-l: 24px;
$space-xl: 32px;
$space-xxl: 48px;
$space-3xl: 60px;
$space-4xl: 90px;
$space-5xl: 120px;
$space-6xl: 150px;

$default-gap: 10px;

$space-overlap: 65px;



// TIER 2


/***************
 Paddings
****************/

// Padding overall
$space-inset-xxs: $space-xxs;
$space-inset-xs: $space-xs;
$space-inset-s: $space-s;
$space-inset-m: $space-m;
$space-inset-l: $space-l;
$space-inset-xl: $space-xl;
$space-inset-xxl: $space-xxl;
$space-inset-3xl: $space-3xl;
$space-inset-4xl: $space-4xl;
$space-inset-5xl: $space-4xl;

/***************
 Gutters
****************/

$gutter-xxs: $space-xxs;
$gutter-xs: $space-xs;

$gutter-s: $default-gap;
$gutter-m: $default-gap * 2;
$gutter-l: $default-gap * 2;

$gutter-vert-m-comp: $space-m;



/***************
 Margins

 margin-xs (5px/10px) orange
 margin-xs-self (5px/10px) orange

 margin-s (15px) rosa
 margin-s-self (15px) rosa

 margin-md (10px/20px) brown
 margin-md-self (10px/20px) brown

 margin-l (15px/30px) yellow
 margin-l-self (15px/30px) yellow

 margin-xl (15px/45px) blue
 margin-xl-self (15px/45px) blue


 margin-comp-s (30px/60px) red

 margin-comp-md (30px/90px) turkis
 margin-comp-md-self (30px/90px) turkis

 margin-comp-l (75px/120px) green

****************/

@mixin margin-xs() {
  + * {
    margin-top: $space-xs; // 12px
  }
}

@mixin margin-xs-self() {

  margin-bottom: $space-xxs; // 5px

  @include bp(medium) {
    margin-bottom: $space-xs; // 10px
  }
}


@mixin margin-s() {
  + * {
    margin-top: $space-s; // 16px
  }
}

@mixin margin-s-self() {
  margin-bottom: $space-s; // 16px
}


@mixin margin-md() {
  + * {
    margin-top: $space-m; // 20px
  }
}

@mixin margin-md-self() {
  margin-bottom: $space-m; // 20px
}


@mixin margin-l() {
  + * {
    margin-top: $space-l; // 24px

    @include bp(medium) {
      margin-top: $space-l; // 24px
    }
  }
}

@mixin margin-l-self() {
  margin-bottom: $space-l; // 24px
}


@mixin margin-xl() {
  + * {
    margin-top: $space-s; // 15px

    @include bp(medium) {
      margin-top: $space-xl; // 45px
    }
  }
}

@mixin margin-xxl() {
  + * {
    margin-top: $space-xl; // 30px

    @include bp(medium) {
      margin-top: $space-m * 2; // 40px
    }
  }
}

@mixin margin-xxl-self() {
  margin-bottom: $space-xl; // 15px

  @include bp(medium) {
    margin-bottom: $space-m *2; // 45px
  }
}

@mixin margin-xl-self() {
  margin-bottom: $space-s; // 15px

  @include bp(medium) {
    margin-bottom: $space-xl; // 45px
  }
}



@mixin margin-comp-s() {
  + * {
    margin-top: $space-l; // 30px

    @include bp(medium) {
      margin-top: $space-xxl; // 60px
    }
  }
}

@mixin margin-comp-md() {
  + * {
    margin-top: $space-xxl; // 48px

    @include bp(medium) {
      margin-top: $space-4xl; // 90px
    }
  }
}

@mixin margin-comp-md-self() {
  margin-bottom: $space-l; // 30px

  @include bp(medium) {
    margin-bottom: $space-4xl; // 90px
  }
}


@mixin margin-comp-l() {
  + * {
    margin-top: $space-3xl; // 75px

    @include bp(medium) {
      margin-top: $space-5xl; // 120px
    }
  }
}

@mixin margin-component-self-dividor-bottom($bg-color) {
  position: relative;
  margin-bottom: $space-3xl * 2;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -$space-3xl;
    width: 100%;
    height: 1px;
    background-color: $bg-color;
  }

  @include bp(medium) {
    margin-bottom: $space-4xl * 2;

    &:after {
      bottom: -$space-4xl;
    }
  }
}


/**************
 Paddings

 padding-vert-xs (5px/10px) orange
 padding-vert-l (15px/30px) yellow
 padding-vert-xl (15px/45px) blue
 padding-comp-vert-s (30px/60px) red
 padding-comp-vert-m (30px/90px) turkis

**************/

@mixin padding-vert-xs() {
  padding-top: $space-xxs; // 5px
  padding-bottom: $space-xxs; // 5px

  @include bp(medium) {
    padding-top: $space-xs; // 10px
    padding-bottom: $space-xs; // 10px
  }
}

@mixin padding-vert-xl() {
  padding-top: $space-s; // 15px
  padding-bottom: $space-s; // 15px

  @include bp(medium) {
    padding-top: $space-xl; // 45px
    padding-bottom: $space-xl; // 45px
  }
}

@mixin padding-comp-vert-s() {
  padding-top: $space-l; // 30px
  padding-bottom: $space-l; // 30px

  @include bp(medium) {
    padding-top: $space-xxl; // 48px
    padding-bottom: $space-xxl; // 48px
  }
}


@mixin margin-reset() {
  + * {
    margin-top: 0;
  }
}



/***************
 Gutters

 gutter-left
 gutter-right
 gutter-left-xs
 gutter-right-xs
 gutter-left-s
 gutter-right-s
****************/

@mixin grid-outer-margin($sm: true, $md: true, $lg: true) {
  @if $sm {
    @include bp(small) {
      margin-left: -$gutter-s/2;
      margin-right: $gutter-s/2;
    }
  }
  @if $md {
    @include bp(medium) {
      margin-left: -$gutter-m/2;
      margin-right: $gutter-m/2;
    }
  }
  @if $sm {
    @include bp(large) {
      margin-left: -$gutter-l/2;
      margin-right: $gutter-l/2;
    }
  }
}

@mixin gutter-left() {
  margin-left: $gutter;

  @include bp(large) {
    margin-left: $gutter-l;
  }
}

@mixin gutter-right() {
  margin-right: $gutter;

  @include bp(large) {
    margin-right: $gutter-l;
  }
}

@mixin gutter-left-xs() {
  margin-left: $gutter-xs;
}

@mixin gutter-right-xs() {
  margin-right: $gutter-xs;
}

@mixin gutter-right-xxs() {
  margin-right: $gutter-xxs;
}


@mixin gutter-left-s() {
  margin-left: $gutter-s;
}

@mixin gutter-right-s() {
  margin-right: $gutter-s;
}

@mixin gutter-left-m() {
  margin-left: $gutter-m;
}

@mixin gutter-right-m() {
  margin-right: $gutter-m;
}
