@use '../02-config/variables' as *;
@use '../01-abstracts/mixins' as *;

@mixin ff-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@mixin ff-semibold {
  font-family: "Open Sans Semibold", sans-serif;
}

@mixin ff-bold {
  font-family: "Open Sans Bold", sans-serif;
}

@mixin ff-heading {
  @include ff-bold;
}

@mixin ff-body {
  @include ff-light;
}

// TIER 3



/***************

 fs-heading-order-1 (34px/68px)
 fs-heading-order-2 (20px/28px)
 fs-heading-order-3 (16px/20px)
 fs-large (18px/24px)
 fs-base (16px)
 fs-medium (15px)

****************/


@mixin fs-body {
  @include ff-body;
  line-height: $line-height-normal;
}


// H1
@mixin fs-heading-order-1 {
  font-size: clamp($font-size-order-1-mobile, 4.5vw, $font-size-order-1);
  line-height: $line-height-normal;
  @include ff-semibold;
}

// H2
@mixin fs-heading-order-2 {
  font-size: clamp($font-size-order-2-mobile, 3.5vw, $font-size-order-2);
  line-height: $line-height-wide;
  @include ff-semibold;
}

// H3
@mixin fs-heading-order-3 {
  font-size: clamp($font-size-order-3-mobile, 2.5vw, $font-size-order-3);
  line-height: $line-height-wide;
  @include ff-semibold;
}


// T1
@mixin fs-small {
  font-size: $font-size-small;
  line-height: $line-height-widest;
  @include ff-body;
}

@mixin fs-base {
  font-size: $font-size-base;
  line-height: $line-height-widest;
  @include ff-body;
}

@mixin fs-medium {
  font-size: $font-size-medium;
  line-height: $line-height-wide;
  @include ff-body;
}

@mixin fs-large {
  font-size: $font-size-large;
  line-height: $line-height-wide;
  @include ff-light;
}

@mixin fs-xlarge {
  font-size: $font-size-xlarge;
  line-height: $line-height-wide;
  @include ff-body;
}


@mixin fs-em {

}

@mixin fs-bold {
  @include ff-heading;
}

.ff-bold.ff-bold {
  @include fs-bold;
}
