@use '../01-abstracts/functions' as *;

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$has-mq: true;
$debug: true;

$font-size-order-1-mobile: toRem(24); // H1
$font-size-order-2-mobile: toRem(22); // H2
$font-size-order-3-mobile: toRem(20); // H3

$font-size-order-1: toRem(32); // H1
$font-size-order-2: toRem(24); // H2
$font-size-order-3: toRem(18); // H3
$font-size-xlarge: toRem(22);
$font-size-large: toRem(18);
$font-size-base: toRem(16); // T2
$font-size-medium: toRem(14);
$font-size-small: toRem(12);


// LINE HEIGHT
$line-height-narrow: 0.95; // 16/16
$line-height-narrow-wider: 1.05; // 36/40
$line-height-normal: 1.2; // 24/28
$line-height-wide: 1.4; // ca 20/28
$line-height-widest: 1.5; // ca 16/24
$line-height-xwidest: 1.6;


// LETTER-SPACING
$letter-spacing-1: 0.05em;
$letter-spacing-2: 0.1em;


/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
$page-max-width-number: 1020;
$page-max-width: #{$page-max-width-number}px;

$columns-small: 2;
$columns-medium: 12;
$columns-large: 12;
$max-columns: $columns-large;

$header-height: 70px;

$admin-bar-height-mobile: 46px;
$admin-bar-height: 30px;

/*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/**
 * Border Width
 */
$border-med: 3px;

/**
 * Border Radius
 */
$border-radius: $border-med;
$border-radius-button: $border-med;

/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Animation Duration
 */
$anim-speed-quick: 0.2s;

/**
 * Animation Easing
 */
$anim-ease: ease;

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

/**
 * Breakpoints
 */
$bp-xsmall-max: 450;
$bp-small-to-medium: 768;
$bp-medium-to-large: 1024;
$bp-to-large: 1280;
$bp-largest: $page-max-width-number;

/*------------------------------------*\
    #ICONS
\*------------------------------------*/

$icon-size-xsmall: 16px;
$icon-size-small: 20px;
$icon-size-medium: 30px;
$icon-size-large: 40px;

/*------------------------------------*\
    #AVATAR
\*------------------------------------*/

$avatar-size-large: 96px;
$avatar-size-medium: 48px;
$avatar-size-small: 32px;
$avatar-size-xsmall: 24px;

/*------------------------------------*\
    #FORMS
\*------------------------------------*/

$form-aside-label-width: 220px;
$form-checkbox-size: 24px;
$form-checkbox-checked-size: 12px;
$form-radiobutton-size: 22px;
$form-radiobutton-checked-size: 10px;
$form-input-height: 40px;
$form-textarea-height: 240px;
