/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Fade Animation
 */
.animate-fade {
  transition: opacity 0.3s ease-out;

	&:hover {
		opacity: 0;
	}
}


