@use '../02-config/config' as *;
@use '../01-abstracts/mixins' as *;

/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Body base styles
 */

html,
body {
  color: $color--text;
  width: 100%;
  min-height: 100vh;
  background-color: $color--white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  //overflow-x: hidden;
  @include ff-body;
  @include fs-base;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


p {
	color: $color--text;

  a {
    color: $color--link;
  }
  @include margin-l;
}

::-webkit-input-placeholder { /* Edge */
  color: $color--grey-dark;
}

::placeholder {
  color: $color--grey-dark;
}

// used to tell the js, how many columns are displayed
#state-indicator {
  z-index: 1; // sets an indicator for js to trigger viewport changes
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  font-size: 0;

  @include bp(medium) {
    z-index: 2;
  }

  @include bp(large) {
    z-index: 3;
  }
}

.header {
  container-name: header;
  container-type: inline-size;
}

@container (width < 650px) {
  h2 {
    width: 50px;
    background-color: gray;
  }
}

.cart-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.product-item {
  a {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 64px;
      padding: 8px 16px;
      color: $color--white;
      background-color: $color--primary;
    }
  }

  small {
    padding: 16px;
  }

  img {
    height: 100px;
    width: auto;
  }
}