@use '../02-config/config' as *;
@use '../01-abstracts/mixins' as *;
/*------------------------------------*\
    #FORMS
\*------------------------------------*/


form {
  @include tableclearfix;

  label {
    @include fs-large;
    display: flex;
    align-items: center;
  }
}
/**
 * Fieldset base styles
 */
fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/**
 * Label base styles
 */
label {
  position: relative;
  display: block;

  &.radio,
  &.checkbox {
    display: flex;
    align-items: center;
  }
}

.form-field {
  display: flex;

  a {
    text-decoration: underline;
  }

  .label {
    display: flex;
  }
}

.form-row {
  margin-bottom: $space-xl;
}

/**
 * Form button, input, select, and text area base styles
 * 1) Zero out margin and inherit font styles
 */
button,
input,
select,
textarea {
	font-family: inherit;
	//font-size: 100%;
	margin: 0;
}

button[type=submit] {
  background-color: transparent;
  border: 0;
}

/**
 * Input and text area base styles
 * 1) Width entire container, gray border, padding
 */
input,
textarea {
  outline: none;
  transition: all 0.5s;
  @include fs-base;

  &:focus {
    //background-color: $color--input-focus;
  }
}

textarea {
  padding-top: $space-xs;
  height: $form-textarea-height;
  resize: none;
}

select {
  width: 100%;

  &.error {
    border: 1px solid $color--error !important;
  }
}

/**
 * Input areas base styles
 * 1) Get rid of webkit appearance of these areas
 */
input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea,
select {
  + .error-msg {
    display: flex;
    background-color: $color--error;
    color:$color--white;
    max-height: 0;
    padding: 0 $space-xxs;
    overflow: hidden;
    transition: all 0.3s;
    @include fs-small;
    @include ff-bold;
  }

  &.error {
    border: 1px solid $color--error !important;

    + .error-msg {
      max-height: 35px;
      padding: $space-xxs;
    }
  }
}


input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
}

input[type="file"] {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input[type=number].digit,
input[type=text].digit {
  width: 90px !important;
  height: 90px;
  font-size: 60px;
  margin-right: $space-s;
  text-align: center;
  border-radius: 8px;
  background-color: white !important;
  border: 2px solid $color--primary !important;
  -webkit-appearance: none;

  @include bp(medium-max) {
    width: 70px !important;
    height: 70px;
    font-size: 50px;
    margin-right: $space-xs;
  }

  &.error {
    border: 2px solid $color--error !important;
  }
}


/**
 * Checkboxes/Radio button base styles
 */
input[type="checkbox"] {
  width: auto;
}


input[type=checkbox] + .label {
  &:before {
    content: '';
    margin-right: 5px;
    display: inline-block;
    left: 0;
    width: $form-checkbox-size;
    height: $form-checkbox-size;
    min-width: $form-checkbox-size;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid $color--primary;
    background-color: $color--form--bg;
  }
}

input[type=checkbox].error + .label {
  &:before {
    border: 1px solid $color--error;
  }
}

input[type=checkbox]:checked + .label {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: $form-checkbox-size;
    height: $form-checkbox-size;
    @include icon('tick-cb', $color--primary);
  }
}

input[type=checkbox],
input[type=radio] {
  @extend .is-visuallyhidden !optional;
}

input[type=radio] + .wpcf7-list-item-label {
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    margin-right: $gutter-s;
    display: inline-block;
    width: $form-radiobutton-size;
    min-width: $form-radiobutton-size;
    height: $form-radiobutton-size;
    background: $color--form--bg;
    box-sizing: border-box;
    border-radius: 100%;
    transition: all 0.3s;
  }

  &::before,
  &::after {
    margin-top: 0;
  }
}

input[type=radio]:checked + .wpcf7-list-item-label {
  &:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 8px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: $color--primary;
  }
}


.custom-radio {
  input[type=radio] + .wpcf7-list-item-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 180px;
    padding: 10px 20px;
    text-transform: uppercase;
    @include ff-light;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      border: 1px solid $color--primary;
      border-radius: 25px;
      background: transparent;
    }
  }

  input[type=radio]:checked + .wpcf7-list-item-label {
    @include ff-bold;
    &::before {
      border: 2px solid $color--primary;
    }
    &::after {
      display: none;
    }
  }
}

input[type=text],
input[type=search],
input[type=email],
input[type=number],
input[type=password],
textarea,
select {
  width: 100%;
  margin-top: 0;
  min-height: 32px;
  padding: 0 $space-xs !important;
  border: 1px solid $color--form--bg;
  background-color: $color--form--bg;
  @include fs-medium;
}

.custom-select {
  margin-top: 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
  @include margin-l;

  &::after {
    @include icon('arrow-thin-right', $color--primary);
    content: '';
    position: absolute;
    right: 10px;
    top: 6px;
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
  }

  select {
    @include fs-base;
    min-height: 32px;
    padding-left: $space-s;
    border: 1px solid $color--form--bg;
    background-color: $color--form--bg;
    border-radius: 5px;
    -webkit-appearance: none;
    cursor: pointer;
  }
}