@use '../01-abstracts/mixins' as *;
@use '../02-config/config' as *;
@use 'sass:list';
/*------------------------------------*\
    #GLOBAL CLASSES
\*------------------------------------*/

/**
 * Clearfix
 */
.cf {
    *zoom: 1;
}

/**
 * Clearfix pseudo-elements
 */
.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.underline {
  text-decoration: underline;
}

.block {
  display: block;
}

.full-w {
  width: 100%;
}

.flex {
  display: flex;

  &-m {
    @include bp(medium-only) {
      display: flex;
    }
  }

  &-l {
    @include bp(large) {
      display: flex;
    }
  }

  &-xl {
    @include bp(larger) {
      display: flex;
    }
  }
}

.flex-align-end {
  align-items: flex-end;

  &-m {
    @include bp(medium-only) {
      align-items: flex-end;
    }
  }

  &-l {
    @include bp(large) {
      align-items: flex-end;
    }
  }
}

.flex-align-start {
  align-items: flex-end;

  &-m {
    @include bp(medium-only) {
      align-items: flex-start;
    }
  }

  &-l {
    @include bp(large) {
      align-items: flex-start;
    }
  }

  &-xl {
    @include bp(larger) {
      align-items: flex-start;
    }
  }
}

.flex-wrap.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}


/**
 * Completely remove from the flow and screen readers.
 */
.is-filtered-hidden,
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.drop-shadow {
  -webkit-box-shadow: 0 12px 7px -5px rgba(224,224,224,1);
  -moz-box-shadow: 0 12px 7px -5px rgba(224,224,224,1);
  box-shadow: 0 12px 7px -5px rgba(224,224,224,1);
}

/**
* Ratios
 */


.ratio-1-1 {
  aspect-ratio: 1 / 1;
}

.ratio-2-1 {
  aspect-ratio: 2 / 1;
}

.ratio-3-2 {
  aspect-ratio: 3 / 2;
}

.ratio-4-3 {
  aspect-ratio: 4 / 3;
}

.ratio-3-4 {
  aspect-ratio: 3 / 4;
}

.ratio-16-9 {
  aspect-ratio: 16 / 9;
}

/**
 * Text alignments
 */
.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.is-upper {
  text-transform: uppercase;
}

.is-inactive {
  opacity: 0.3;
  pointer-events: none;
}

.text-primary {
  color: $color--primary;
}

.text-error {
  color: $color--error;
}

.text-contrast {
  color: $color--text-contrast;
}

.no-padding {
  padding: 0 !important;
}


/**
 * Margins
 */


.m-small {
  @include margin-s;
}

.m-none {
  &-m {
    + * {
      @include bp(medium-only) {
        margin-top: 0 !important;
      }
    }
  }

  &-l {
    + * {
      @include bp(large) {
        margin-top: 0 !important;
      }
    }
  }
}
.no-mb.no-mb {
  margin-bottom: 0;
}

.mb-xs.mb-xs {
  margin-bottom: $space-xs;
}

.mb-s.mb-s {
  margin-bottom: $space-s;
}

.mb-m.mb-m {
  margin-bottom: $space-m;
}

.mb-l.mb-l {
  margin-bottom: $space-l;
}

.mb-xl.mb-xl {
  margin-bottom: $space-xl;
}

.mb-xxl.mb-xxl {
  margin-bottom: $space-xxl;
}

.mt-l.mt-l {
  margin-top: $space-l;
}


.mt-comp {
  margin-top: $space-5xl;
}


.gutter-r-s {
  margin-right: $space-s !important;
}

.gutter-l-s {
  margin-left: $space-s !important;
}


.hide-s.hide-s {
  @include bp(small) {
    display: none;
  }
}

.hide-m.hide-m {
  @include bp(medium-only) {
    display: none;
  }
}

.hide-l.hide-l {
  @include bp(large) {
    display: none;
  }
}


/* Backgrounds */

@each $name, $colors in $bg-colors {
  $bgcolor: list.nth($colors, 1);

  .bg-#{$name} {
    background-color: $bgcolor;
  }
}

.bg-white {
  background-color: $color--white;
}
