@use '../02-config/config' as *;

// headings
h1,
.fs-h1 {
  @include fs-heading-order-1;
  @include margin-md;
}

h2,
.fs-h2 {
  span {
    @include ff-body;
    display: block;
  }
  @include fs-heading-order-2;
  @include margin-md;
}

h3,
.fs-h3,
h4 {
  @include fs-heading-order-3;
  @include ff-semibold;
  @include margin-reset;
}