@use '../02-config/config' as *;
@use '../01-abstracts/mixins' as *;

/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {
	text-decoration: none;
	outline: 0;
	transition: all $anim-speed-quick $anim-ease;
  color: $color--text;

  &:hover {
    color: $color--link;
  }
}
