@use '../02-config/config' as *;
@use '../01-abstracts/mixins' as *;
/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * Ordered/Unordered list base styles
 */

.flat {
	list-style: none;
	margin-left: 0;
}

ul {
  @include fs-base;
	margin-left: 20px;

	&.flat {
		@extend .flat;
	}

  .entry-content & {
    @include margin-xl;
  }
}

ol {
  margin-left: 20px;

	&.ordered-list {
    margin-left: 0;
		list-style: none;
		counter-reset: item;

		> li {
			position: relative;
			counter-increment: item;
			padding-left: 40px;
			min-height: 30px;

			&::before {
				content: counters(item, '.');
				position: absolute;
				left: 0;
				top: -4px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				border: 1px solid $color--black;
			}
		}
	}
}

/**
 * Definition list base styles
 */
dl {
	overflow: hidden;
	margin: 0 0 $space-m;
	display: grid;
	grid-template-columns: 100px auto;
	grid-gap: $space-xs;
	align-items: center;
}

/**
 * Terms/Names base styles
 */
dt {
	display: flex;
	font-weight: bold;
}

/**
 * Definition list description base styles
 */
dd {
	margin-left: 0;
}


.definition-list {
	padding: $space-xs;
	background-color: $color--grey-light;
	border: 1px solid $color--border;
}