@use '../02-config/variables' as *;
@use '../01-abstracts/mixins' as *;
/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * Main content area
 */
main.page-content {
  position: relative;
  max-width: $page-max-width;
  width: 100%;
  margin: 0 auto;
  @include tableclearfix;
}


@media only screen and (max-width: 800px) {
  main.page-content {
    transform: scale(0.5);
    transform-origin: top left;
  }
}