@use '../02-config/config' as *;
@use '../01-abstracts/mixins' as *;

/*------------------------------------*\
    #MEDIA ELEMENTS
\*------------------------------------*/

/**
 * Make media elements responsive
 */
img,
video,
object {
	max-width: 100%;
	width: 100%;
	height: auto;
}

audio {
  outline: 0;
  width: 100%;
}

iframe {
	@include margin-md;
}

figure {
  max-width: 100%;

	picture {
		display: block;
	}
	
	/**
	 * Figure image base styles
	 */
	img {
    display: flex;
    @include margin-xs;
	}
}

/**
 * Figure caption base styles
 */
figcaption {
  @include bp(xlarge) {
    max-width: $page-max-width;
    margin: 0 auto;
  }

}