@use '../02-config/config' as *;
@use '../01-abstracts/mixins' as *;

section {
  &.page-content {
    width: 100%;
    max-width: $page-max-width;
    margin-left: auto;
    margin-right: auto;
    @include margin-comp-md;
    @include tableclearfix;
  }

  &.page-content {
    @include bp(small) {
      padding-left: $space-inset-s;
      padding-right: $space-inset-s;
    }
  }
}
