@use '../02-config/config' as *;
blockquote {
  @include margin-md;

  span {
    @include margin-md;
  }

  cite {
    display: flex;
    align-items: center;
    font-style: normal;

    .avatar {
      @include gutter-right-xs;
    }
  }
}

strong, b {
  @include ff-semibold;
}

.ff-body {
  @include ff-body;
}

.ff-semibold {
  @include ff-semibold;
}

.ff-bold {
  @include ff-bold;
}

.fs-medium {
  @include fs-medium;
}

.fs-large {
  @include fs-large;
}

.fs-xlarge {
  @include fs-xlarge;
}

