.ball {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  background-color: red;
  border-radius: 50%;
  z-index: 1;
  transition: none !important;

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: blue;
    pointer-events: none;
    border-radius: 50%;
    left: -5px;
    top: -5px;
  }

  .tile-selection & {
    position: relative;
    margin: 19px 17px;
    cursor: pointer;
    z-index: 1;
    top: -10px;
  }
}

.ball {
  &.active {
    display: block;
  }

  &.blue {
    background-color: blue;

    &::after {
      background-color: blue;
    }
  }

  &.green {
    background-color: green;

    &::after {
      background-color: green;
    }
  }
}