@use '../01-abstracts/mixins' as *;
@use '../02-config/config' as *;

a,
button {
  position: relative;
  outline: 0;
  cursor: pointer;

  &.btn {
    @include fs-large;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 30px;
    min-width: 360px;
    padding: 0 $space-xl;
    color: $color--text-contrast;
    background-color: $color--primary;
    text-transform: uppercase;

    span {
      @include ff-bold;
      display: inline-block;
      margin-left: calc(#{$space-xxs} / 2);
    ;
    }

    svg {
      position: relative;
      width: 18px;
      margin-left: $gutter-xs;
    }
  }
}

.cta-btn {
  @include fs-medium;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;

  svg {
    margin-right: $space-xxs;
  }

  &.inactive-btn {
    opacity: 0.5;
    pointer-events: none;
  }

  &.cancel {
    margin-right: $space-xl;

    svg {
      transform: rotate(180deg);

      path {
        fill: black;
      }
    }
  }
}


#reset-file {
  position: absolute;
  background-color: transparent;
  right: 0;
  bottom: 6px;
  width: 32px;
  height: 32px;
  padding: 8px;
  border: none;
  -webkit-appearance: none;

  &::after {
    @include icon('close');
    content: '';
    display: block;
    width: 16px;
    height: 16px;
  }
}