@use '../02-config/config' as *;

.tile {
  position: absolute;
  width: 4.559%; //35px
  height: 7.6925%; // 40px
  cursor: pointer;
  margin: 0;
  transition: left 0.2s, top 0.2s;

  .definition-list & {
    position: relative;
    margin-right: $space-xxs;
    width: 35px;
    height: 40px;
  }

  .tile-selection & {
    width: 35px;
    height: 40px;
  }

  &.hit {
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    transform: scale(0.1);
  }

  &.selected {
    border: 2px solid yellow !important;

    &.ball {
      &::before {
        border: 1px solid yellow;
      }
    }
  }

  &.brick {
    background: url("../assets/grey.jpg");
  }

  &.red {
    background: url("../assets/red.jpg");
  }

  &.blue {
    background: url("../assets/blue.jpg");
  }

  &.green {
    background: url("../assets/green.jpg");
  }

  &.space {
    .tile-selection & {
      border: 1px solid #ccc;
    }
  }

  &.green-change {
    background: url("../assets/wechsler_green.jpg");
  }

  &.blue-change {
    background: url("../assets/wechsler_blue.jpg");
  }

  &.green-move {
    background: url("../assets/schieber_green.jpg");
  }

  &.blue-move {
    background: url("../assets/schieber_blue.jpg");
  }
}

a.tile {
  position: relative;
  display: inline-flex;
  margin-bottom: 10px;
}