@use 'sass:math';
@use 'sass:list';
@use 'sass:map';
@use '../02-config/variables' as *;

/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/* Stop float
  Usage: @include tableclearfix;
 */
@mixin tableclearfix {
	& {
		*zoom: 1;

		&:before,
		&:after {
			content: "";
			display: table;
		}

		&:after {
			clear: both;
		}
	}
}

// breakpoints ---------------------------------------------------------------------------
// use em here, since: http://zellwk.com/blog/media-query-units/
$breakpoints: (
	// everything below 450px (small screen devices)
				'xsmall': '(max-width:  #{math.div($bp-xsmall-max, 16)}em)',
	// everything below tablet (767), triggers only mobile, since we are mobile first
				'small': '(max-width:  #{math.div(($bp-small-to-medium - 1), 16)}em)',
	// tablet portrait (768+)
				'medium': '(min-width:  #{math.div($bp-small-to-medium, 16)}em)',
	// tablet portrait only (768 - 1023)
				'medium-only': '(min-width: #{math.div($bp-small-to-medium, 16)}em) and (max-width: #{math.div(($bp-medium-to-large - 1), 16)}em)',
	// mobile to tablet landscape ( - 1023)
				'medium-max': '(max-width: #{math.div(($bp-medium-to-large - 1), 16)}em)',
	// tablet landscape and bigger (1024+)
				'large': '(min-width:  #{math.div(($bp-medium-to-large), 16)}em)',
  // landscape and bigger (1280+)
        'larger': '(min-width:  #{math.div($bp-to-large, 16)}em)',
  // up to ( - 1280)
        'large-max': '(max-width: #{math.div($bp-to-large - 1, 16) }em)',
	// landscape and bigger (1440+)
				'xlarge': '(min-width: #{math.div($bp-largest, 16)}em)',
) !default;

/// Mixin to manage responsive breakpoints
/// @author Hugo Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin bp($breakpoint) {
	@if ($has-mq) {
		// If the key exists in the map
		@if map.has-key($breakpoints, $breakpoint) {
			// Prints a media query based on the value
			@media #{map.get($breakpoints, $breakpoint)} {
				@content;
			}
		} @else {
			// If the key doesn't exist in the map
			@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
		}
	} @else {
		@content;
	}
}

/*
 * generates a background porperty with the given svg filename and color
 */
@mixin icon($icon-name, $icon-color:"") {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

	@if $icon-name == "arrow-right" {
		background-image: inline-svg('<svg width="14" height="14" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg"><path fill="#{$icon-color}" d="m438.24 191.76 304.44 304.32H30v207.84h712.68l-304.44 304.32L600 1170l570-570L600 30z"/></svg>');
	} @else if $icon-name == "arrow-right-hover" {
    background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 16"><defs><filter id="arrow-h"><feColorMatrix in="SourceGraphic" values="0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0"/></filter></defs><g filter="url(#arrow-h)" transform="translate(-15 -136)" fill="none" fill-rule="evenodd"><path fill="#98A7AE" stroke="#98A7AE" d="M15.175 150.47c-.233.236-.233.618 0 .853.232.236.61.236.842 0l6.808-6.896c.233-.236.233-.618 0-.854l-6.808-6.896a.5874.5874 0 00-.842 0 .6078.6078 0 000 .853l6.208 6.47-6.21 6.47z"/></g></svg>');
  } @else if $icon-name == "close" {
		background-image: inline-svg('<svg fill="#{$icon-color}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M60.6 50.6l36.1-36.1c2.8-2.8 2.8-7.3 0-10.1-1.3-1.3-3.1-2.1-5-2.1s-3.7.7-5 2.1L50.5 40.5 12.9 2.9C11.6 1.6 9.8.8 7.9.8s-3.7.7-5 2.1C0 5.7 0 10.2 2.8 13l37.6 37.6L4.3 86.7c-1.3 1.3-2.1 3.1-2.1 5s.7 3.7 2.1 5c1.3 1.3 3.1 2.1 5 2.1s3.7-.7 5-2.1l36.1-36.1 34.7 34.7c1.3 1.3 3.1 2.1 5 2.1s3.7-.7 5-2.1c1.3-1.3 2.1-3.1 2.1-5s-.7-3.7-2.1-5L60.6 50.6z"/></svg>');
	}
}


/* usage

.selector-1 {
  @include linear-gradient(#31B7D7, #EDAC7D);
}

.selector-2 {
  @include linear-gradient(to right, #E47D7D 0%, #C195D3 50%, #4FB4E8 100%);
}

.selector-3 {
  @include linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
}

*/
@mixin linear-gradient($direction, $color-stops...) {
	// Direction has been omitted and happens to be a color-stop
	@if is-direction($direction) == false {
		$color-stops: $direction, $color-stops;
		$direction: 180deg;
	}

	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}


/// Creates a visual triangle.
/// Mixin takes ($size, $color, $direction)
/// The $size argument can take one or two values—width height.
/// The $color argument can take one or two
/// values—foreground-color background-color.
///
/// @author http://bourbon.io/docs/#triangle
///
/// $direction:
/// up, down, left, right, up-right, up-left, down-right, down-left
/// @example scss - Usage
///   @include triangle(12px, gray, down);
///   @include triangle(12px 6px, gray blue, up-left);
///
@mixin triangle($size, $color, $direction) {
	$width: nth($size, 1);
	$height: nth($size, length($size));
	$foreground-color: nth($color, 1);
	$background-color: if(length($color) == 2, nth($color, 2), transparent);
	height: 0;
	width: 0;

	@if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
		$width: $width / 2;
		$height: if(length($size) > 1, $height, $height/2);

		@if $direction == up {
			border-bottom: $height solid $foreground-color;
			border-left: $width solid $background-color;
			border-right: $width solid $background-color;
		} @else if $direction == right {
			border-bottom: $width solid $background-color;
			border-left: $height solid $foreground-color;
			border-top: $width solid $background-color;
		} @else if $direction == down {
			border-left: $width solid $background-color;
			border-right: $width solid $background-color;
			border-top: $height solid $foreground-color;
		} @else if $direction == left {
			border-bottom: $width solid $background-color;
			border-right: $height solid $foreground-color;
			border-top: $width solid $background-color;
		}
	} @else if ($direction == up-right) or ($direction == up-left) {
		border-top: $height solid $foreground-color;

		@if $direction == up-right {
			border-left:  $width solid $background-color;
		} @else if $direction == up-left {
			border-right: $width solid $background-color;
		}
	} @else if ($direction == down-right) or ($direction == down-left) {
		border-bottom: $height solid $foreground-color;

		@if $direction == down-right {
			border-left:  $width solid $background-color;
		} @else if $direction == down-left {
			border-right: $width solid $background-color;
		}
	} @else if ($direction == inset-up) {
		border-color: $background-color $background-color $foreground-color;
		border-style: solid;
		border-width: $height $width;
	} @else if ($direction == inset-down) {
		border-color: $foreground-color $background-color $background-color;
		border-style: solid;
		border-width: $height $width;
	} @else if ($direction == inset-right) {
		border-color: $background-color $background-color $background-color $foreground-color;
		border-style: solid;
		border-width: $width $height;
	} @else if ($direction == inset-left) {
		border-color: $background-color $foreground-color $background-color $background-color;
		border-style: solid;
		border-width: $width $height;
	}
}