/* TYPOGRAPHY ------------------------------------------------------------------------- */


@font-face {
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Light.woff2') format('woff2'),
  url('../assets/fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Open Sans Bold';
  src: url('../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../assets/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url('../assets/fonts/MinionPro-Regular.woff2') format('woff2'),
  url('../assets/fonts/MinionPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../assets/fonts/OpenSans.woff2') format('woff2'),
  url('../assets/fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
