@use '../02-config/config' as *;
@use 'sass:math';

// grid

$scale: 214;

.preview-outer {
  margin-top: $space-s;
  padding: $space-s;
  display: grid;
  width: 770px;
  border-radius: 4px;
  background-color: #ddd;
}

.preview-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $space-xxl $space-s;

  &.compact {
    gap: $space-s $space-s;
    .preview {
      height: 244px;
    }
  }

  .preview {
    position: relative;
    height: 340px;

    .cta-wrapper {
      position: absolute;
      width: 99%;
      top: 76%;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .canvas {
      width: #{$scale}+'%';
      transform: scale(#{math.div(100, $scale)});
      border: 1px solid $color--border;
      background-color: #999;
    }
  }
}

.canvas-grid {
  display: grid;
  grid-template-columns: 770px auto;
  grid-gap: 0 $space-s;
}